body { font-size: 50% }

@media only screen and (min-width: 768px) {
    body { font-size: 65% }
}

@media only screen and (min-width: 992px) {
    body { font-size: 70% }
}

@media only screen and (min-width: 1200px) {
    body { font-size: 85% }
}

@media only screen and (min-width: 1400px) {
    body { font-size: 100% }
}

@media only screen and (min-width: 1600px) {
    body { font-size: 115% }
}

@media only screen and (min-width: 1900px) {
    body { font-size: 135% }
}

@media only screen and (min-width: 2600px) {
    body { font-size: 185% }
}

.clear {
    clear: both;
}

.cinzel {
	font-family: 'cinzelblack';
}

.header {
    color: #333;
}

.inout-container {
    overflow: hidden;
    perspective: 600px;
}

.inout {
    position: relative;
}

.header-main-container {
    margin: 5em 0;
    text-align: center;
}

.header-main {
    margin: 0;
    padding-right: 0.3em;
    font-size: 5em;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.header-main-inout {
    transition: transform 0.55s ease;
    transform-origin: 50% 0;
}

.header-main-inout.in {
    transform: translateY(0);
    opacity: 1;
}
.header-main-inout.out {
    transform: rotateX(-90deg);
    opacity: 0;
}

.coin {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 7.5em;
    height: 7.5em;
}

.coin2 {
    opacity: 0;
    margin-left: -7.5em;
}

.coin1 {
    -webkit-animation: coinmove1 2s infinite ease-in-out;
    animation: coinmove 2s infinite ease-in-out;
}

.coin2 {
    -webkit-animation: coinmove2 2s infinite ease-in-out;
    animation: coinmove 2s infinite ease-in-out;
}

@-webkit-keyframes coinmove1 {
    0% { transform: rotateY(0deg); opacity: 1;}
    33% { opacity: 1; }
    34% { opacity: 0; }
    66% { opacity: 0; }
    67% { opacity: 1; }
    100% { transform: rotateY(360deg); opacity: 1;}
}

@-webkit-keyframes coinmove2 {
    0% { transform: rotateY(0deg); opacity: 0; }
    33% { opacity: 0; }
    34% { opacity: 1; }
    66% { opacity: 1; }
    67% { opacity: 0; }
    100% { transform: rotateY(360deg); opacity: 0; }
}

.menu-main-container {
    transition: transform 0.55s ease;
}

.menu-main {
    position: relative;
    clear: left;
    float: left;
    left: 50%;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    list-style: none;
    font-size: 2em;
}

.menu-main-container {
    position: relative;
}

.menu-main-inout {
    transition: transform 0.55s ease;
    transform-origin: 50% 0%;
}

.menu-main-inout.in {
    transform: scale(1);
    opacity: 1;
}
.menu-main-inout.out {
    transform: scale(2);
    opacity: 0;
}

.menu-main a {
    float: left;
    color: #333;
    padding: 4px 8px;
    text-decoration: none;
}

.menu-main a > b {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 0;
    border: 1px solid #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.menu-main a:hover {
    text-decoration: none;
}

.menu-main a:hover > b {
    height: 100%;
    border: 1px #000 solid;
}

.menu-main > li {
    position: relative;
    display: block;
    float: left;
    right: 50%;
    margin: 2px 5px;
    padding: 0;
}

.bg {
    position: relative;
    float: left;
    background: #000;
    overflow: hidden;
    width: 100%;
    height: 600px;
    text-align: center;
}

.header-middle {
    position: relative;
    display: inline;
    font-size: 3em;
    text-align: center;
    top: 15em;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 8px #000000;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

@-webkit-keyframes imgmove1 {
    0% { opacity: 1; transform: translate(0, 3% ) scale(1); }
    30% { opacity: 1; }
    40% { opacity: 0; }
    50% { opacity: 0; transform: translate(-3%, -3%) scale(1.2); }
    70% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 1; transform: translate(0, 3% ) scale(1); }
}

@-webkit-keyframes imgmove2 {
    0% { opacity: 0; transform: translate(3%, -3%) scale(1.2); }
    20% { opacity: 0; }
    30% { opacity: 1; }
    50% { opacity: 1; transform: translate(0, 3%) scale(1); }
    80% { opacity: 1; }
    90% { opacity: 0; }
    100% { opacity: 0; transform: translate(3%, -3%) scale(1.2); }
}

.bg-img1 {
    -webkit-animation: imgmove1 20s infinite ease-in-out;
    animation: imgmove1 20s infinite ease-in-out;
}

.bg-img2 {
    -webkit-animation: imgmove2 20s infinite ease-in-out;
    animation: imgmove2 20s infinite ease-in-out;
}

.box1-inout {
    transition: all 1s ease-out;
    transform-origin: 50% 50%;
}

.box1-inout.in {
    transform: rotate3d(-1,0.2,-0.4,0);
    opacity: 1;
}

.box1-inout.out {
    transform: rotate3d(-1,0.2,-0.4,90deg);
    opacity: 0;
}

.box2-inout {
    transition: all 1s ease-out;
    transform-origin: 50% 50%;
}

.box2-inout.in {
    transform: rotate3d(0.2,-0.8,0.4,0);
    opacity: 1;
}

.box2-inout.out {
    transform: rotate3d(0.2,-0.8,0.4,-90deg);
    opacity: 0;
}

.shadow {
    box-shadow: rgba(0,0,0,0.2) 3px 3px 1px;
}

.digit {
    color: #8f6000;
    font-size: 50px;
    font-family: digital-7_italicitalic;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(0,0,0,0.25);
}

.digit-canvas {
    position: absolute;
}

.heighter {
    height: 200px;
}

.upstart {
    transition: all ease-in-out 0.5s;
}

.upstart.show {

}

h2, h3 {
    color: #28a4c9;
}

.header {
    color: #333;
}

.macbook {
    display: block;
    width: 760px;
    height: 460px;
}

.video {
    position: absolute;
    left: 104px;
    top: 91px;
}