<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <style>body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }</style>
</head>
<body>
<script src="js/gl-matrix-min.js"></script>
<script src="js/utils.js"></script>
<script src="js/webgl-utils.js"></script>
<script>
    'use strict';

    window.canvas = document.createElement('canvas');
    document.body.appendChild(canvas);
    window.gl = canvas.getContext('webgl');

    var dWidth, dHeight;
    var resize = function () {
        dWidth = document.body.clientWidth;
        dHeight = document.body.clientHeight;
        canvas.setAttribute('width', dWidth);
        canvas.setAttribute('height', dHeight);
        gl.viewport(0, 0, dWidth, dHeight);
    };

    resize();

    window.addEventListener('resize', resize);

    var program;
    var squareVerticesBuffer;
    var vertexPositionAttribute;

    var init = function () {
        gl.clearColor(0.0, 0.1, 0.05, 1.0);
        gl.enable(gl.DEPTH_TEST);
        gl.depthFunc(gl.LEQUAL);
    };

    var initShaders = function () {
        return glu.loadProgram('shaders/vshader.glsl', 'shaders/fshader.glsl').then(function (pr) {
            program = pr;
            gl.useProgram(program);
            vertexPositionAttribute = gl.getAttribLocation(program, "aVertexPosition");
            gl.enableVertexAttribArray(vertexPositionAttribute);
        });
    };

    var initBuffers = function () {
        squareVerticesBuffer = gl.createBuffer();
        gl.bindBuffer(gl.ARRAY_BUFFER, squareVerticesBuffer);

        var vertices = [
            1.0, 1.0, 0.0,
            -1.0, 1.0, 0.0,
            1.0, -1.0, 0.0,
            -1.0, -1.0, 0.0
        ];

        gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);
    };

    init();
    initBuffers();
    initShaders().then(function () {
        requestAnimationFrame(draw);
    }, err);

    var draw = function () {
        requestAnimationFrame(draw);

        gl.bindBuffer(gl.ARRAY_BUFFER, squareVerticesBuffer);
        gl.vertexAttribPointer(vertexPositionAttribute, 3, gl.FLOAT, false, 0, 0);
        gl.drawArrays(gl.TRIANGLE_STRIP, 0, 4);
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    };

</script>
</body>
</html>